<div class="background_login">
  <canvas class="cavs" width="1920" height="1337"></canvas>

  <div id="back">
    <div class="title">
      <div class="line subTitle" (click)="switchLoginMethod('up')">
        <span>账号登陆</span>
        <div class="underLine" id="uPLogin"></div>
      </div>
      <div class="line boundary">
        |
      </div>
      <div class="line subTitle" (click)="switchLoginMethod('um')">
        <span>验证码登录</span>
        <div class="underLine" id="uMLogin" style="width: 0"></div>
      </div>
    </div>
    <div class="form">
      <div class="input" *ngIf="loginMethod === 'up'">
        <nz-input-group [nzPrefix]="prefixTemplateUser" [nzSuffix]="inputClearTpl" >
          <input type="text" nz-input placeholder="请输入用户名" style="height: 40px"
                 [(ngModel)]="loginUser.username"
                 />
        </nz-input-group>
        <ng-template #prefixTemplateUser><i nz-icon nzType="user"></i></ng-template>
        <ng-template #inputClearTpl>
          <i nz-icon class="ant-input-clear-icon" nzTheme="fill"
             nzType="close-circle"
             *ngIf="loginUser.username"
             (click)="loginUser.username = null"></i>
        </ng-template>
      </div>
      <div class="input" *ngIf="loginMethod === 'up'">
        <nz-input-group [nzPrefix]="prefixTemplatePass" [nzSuffix]="suffixTemplate">
          <input [type]="passwordVisible ? 'text' : 'password'" style="height: 40px"
                 nz-input placeholder="请输入密码"
                 [(ngModel)]="loginUser.password"
                 />
        </nz-input-group>
        <ng-template #prefixTemplatePass><i nz-icon nzType="lock" nzTheme="outline"></i></ng-template>
        <ng-template #suffixTemplate>
          <i nz-icon class="ant-input-clear-icon" nzTheme="fill"
             nzType="close-circle"
             *ngIf="loginUser.password"
             (click)="loginUser.password = null"></i>
          <i *ngIf="loginUser.password"
             nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
        </ng-template>
      </div>
      <div class="input" *ngIf="loginMethod === 'um'">
        <nz-input-group [nzPrefix]="prefixTemplateUser" [nzSuffix]="inputClearTpl" >
          <input type="text" nz-input placeholder="请输入邮箱或手机号" style="height: 40px"
                 [(ngModel)]="loginUser.email"
          />
        </nz-input-group>
        <ng-template #prefixTemplateUser><i nz-icon nzType="user"></i></ng-template>
        <ng-template #inputClearTpl>
          <i nz-icon class="ant-input-clear-icon" nzTheme="fill"
             nzType="close-circle"
             *ngIf="loginUser.username"
             (click)="loginUser.username = null"></i>
        </ng-template>
      </div>
      <div class="input" style="text-align: left">
        <div style="display: inline-block; width: 40%">
          <nz-input-group [nzPrefix]="prefixTemplateCheck">
            <input type="text" style="height: 40px;"
                   nz-input placeholder="验证码"
                   [(ngModel)]="checkCode"
            />
          </nz-input-group>
          <ng-template #prefixTemplateCheck>
            <i nz-icon nzType="code" nzTheme="outline"></i>
          </ng-template>
        </div>
        <div style="display: inline-block; width: 59%; position: relative">
          <div id="img">
            <img src="http://localhost:10800/getCheckCode/1" width="90" height="42" style="margin-left: 20px">
          </div>
          <a style="position: absolute; right: 0; top:20px" (click)="refreshCheckCode()">看不清？刷新验证码</a>
        </div>
      </div>
      <div class="input" *ngIf="loginMethod === 'um'">
        <nz-input-group [nzPrefix]="prefixTemplateUser" [nzSuffix]="inputClearTpl">
          <input type="text" nz-input placeholder="请输入验证码" style="height: 40px" [(ngModel)]="loginUser.checkCode"/>
        </nz-input-group>
        <ng-template #prefixTemplateUser><i nz-icon nzType="message" nzTheme="outline"></i></ng-template>
        <ng-template #inputClearTpl>
          <button *ngIf="!showTimeCountDown" nz-button nzType="dashed" nzSize="small" style="background: rgba(0,0,0,0);" (click)="sendCheckCode()">发送验证码</button>
          <div *ngIf="showTimeCountDown" class="countDown">
            {{countDownTime}}
          </div>
        </ng-template>
      </div>
      <button nz-button nzType="primary" style="width: 50%; height: 35px; margin-top: 20px" (click)="login()">登录</button>
    </div>
  </div>
</div>
