#login_frame_div {
  visibility: hidden;
}
#login_frame {
  z-index: 999;
  position: absolute;
  visibility: inherit;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 360px;
  border: none;
  visibility: hidden;
}
