<nz-breadcrumb style="margin-bottom: 5px; margin-left: 10px;">
  <nz-breadcrumb-item>
    <a routerLink="/index/index">
      <i nz-icon nzType="home"></i>
      <span>首页</span>
    </a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/user">
      <i nz-icon nzType="idcard"></i>
      <span>用户信息</span>
    </a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <span>权限信息</span>
  </nz-breadcrumb-item>
</nz-breadcrumb>
<nz-card>
  <div class="block">
    <div class="in"> </div>
  </div>
</nz-card>
